/* Media Queries  */

@media all and (max-width: 767px){ 
    
    header{
        padding-bottom: 25px;
    }
    
    .bg{
        display: none;
    }
    
    .bg .btn{
        display: none;
    }
    
    .bg .top-pad-text{
        margin-bottom: 0;
    }
    
    .pads img{
        margin: auto;
    }
    
    .pads {
        height: auto;
    }
    
    .bg2{
        position: relative;
        height: auto;
		padding-bottom: 10px;
    }
    
    .bg2 img {
        display: none;
    }
    
    .bg2 p{
    width: auto;
        height: auto;
    }
    
    
    #second-footer a img {
        padding: 10px 0; 
        position: inherit;
        margin: 0; ;
    }
    
    .customer-menu{
        position: inherit;
        margin: 0;
    }
    
    .company-menu{
        position: inherit;
        margin: auto;
    }
    
    .company-menu img{
        position: inherit;
        margin: 0;
    }
    
    .reseller-menu{
        position: inherit;
        margin: 0;
    }
    
    .million-menu{
        position: inherit;
        margin: 0;
    }
    
    .about-menu{
        width: 300px;
    }
    
    .bot-para1 {
        position: inherit;
        width: 200px;
        margin: 0;
        padding-bottom: 10px;
    }
    
    .bot-para2 {
        position: inherit;
        width: 200px;
        margin: 0;
    }
    
    #second-footer .cards {
        padding-top: 10px;
        padding-bottom: 10px;
        position: inherit;
        display: inline-block;
        margin: 0;
    }
    
    #first-footer{
    height: 481px;
    margin-top: 20px;
    padding-top: 25px;
    }
    
    #second-footer{
    height: auto;
    }
}
 
 
@media all and (min-width: 768px) and (max-width: 991px){ 
    
    #second-footer .cards {
        margin-top: 25px;
        position: relative;
        left: 600px;
    }
    
    .pads{
        height: 215px;
    }
    
    .bg2 img {
        display: none;
    }
    
    .bg2 p{
    margin-top: 13px;
    font-size: 14px;
    height: auto;
    width: 680px;
    }
    
    #second-footer a img {
    margin-top: 25px;
    position: relative;
    left: 544px;
    }
    
    .bot-para1 {
    width: 55%;
    position: relative;
    left: 203px;
    top: 26px;
    }
    
    .bot-para2 {
    width: 75%;
    position: relative;
    left: 100px;
    top: 47px;
    }
    
    .million-menu{
        margin-right: 0;
         margin-left: 0;
    }
    .about-menu{
        width: 300px;
    }
    
    .reseller-menu{
        margin-right: 0;
        margin-left: 0;
    }
    
    .customer-menu{
         margin-right: 0;
        margin-left: 0;
    }
    
    .company-menu{
         margin-right: 0;
        margin-left: 0;
    }
    
 }
 
@media all and (min-width: 992px) and (max-width: 1199px){ 

    .pads{
        height: 265px;
    }
    
    #second-footer .cards {
    margin-top: 25px;
    position: relative;
    left: 794px;
}
    .bg2{
        height: auto;
        padding-bottom: 10px
    }
    
    .bg2 p{
        margin-top: 15px;
        font-size: 14px;
        height: auto;
        width: 660px;
    }
    
    
    .bg2 img {
        position: absolute;
        margin-top: 21px;
        margin-right: 13px;
        right: 0px
    }
    
    #second-footer a img {
    margin-top: 25px;
    position: relative;
    left: 744px;
    }
    
    .bot-para1 {
    width: 45%;
    position: relative;
    left: 303px;
    top: 26px;
    }
    
    .bot-para2 {
    width: 55%;
    position: relative;
    left: 219px;
    top: 47px;
    }
    
     .million-menu{
        margin-right: 0;
         margin-left: 0
    }
    .about-menu{
        width: 300px;
    }
    
    .reseller-menu{
        margin-right: 0;
        margin-left: 0;
    }
    
    .customer-menu{
         margin-right: 0;
        margin-left: 0;
    }
    
    .company-menu{
         margin-right: 0;
        margin-left: 0;
    }
}
    
@media all and (min-width: 1200px){ 
   .about-menu{
        width: 300px;
    }
}
