
/* GLOBAL STYLES */
body{
    background-color: #F7F7F7
}

.primary-background{
    background-color: #00713D;
}

.secondary-background{
    background-color: #45AA42;
}

.tertiary-background{
    background-color: #028046;
}

.primary-color{
    color: #00713D;
}

.secondary-color{
    color: #45AA42;
}

.tertiary-color{
    color: #028046;
}

/* global link behaviors */
a:link {
    color: white;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}
/* GLOBAL STYLES END */

/*Header & Navbar*/
.navbar{
    margin-bottom: 0;
    border-bottom: 0;
}

.navbar-brand{
    padding-top: 0;
}



.jumbotron{
    border-radius: 0px!important;
}
/* Header & Navbar End */

/*Main page content*/
.pads{
    margin-top: 25px;
    font-family: 'Open Sans Light';
    font-size: 18px;
    background-color: white;  
    border: none;
    border-bottom: 4px solid #ddd;
    
}

.small-pads{
    border: none;
    border-bottom: 4px solid #ddd;    
}






























